:host {
  display: block;
  position: relative;
}

/* Style pour le dropdown sur mobile */
@media (max-width: 768px) {
  ::ng-deep .glass {
    margin: 0.5rem;
    border-radius: 1rem !important;
    width: calc(100% - 1rem) !important;
    left: 0.5rem !important;
  }
}
